
    <div >
        <button (click)="openPDF()" type="button" class="btn btn-primary "  >
            <i class="fa fa-print mx-1" aria-hidden="true"></i>
            Imprimer</button>
    </div>
    <!---->
    <div class="  page" size="A4" id="htmlData">
        <div class="m-3">
            <section class="mt-5">
                <div class="facture mx-auto" >
                    <div class="row mt-5">
                        <div class="col-6 my-auto ">
                            <img src="../../../../assets/imgs/LOGO-SITE-COLOR.png" />
                        </div>
                        <div class="col-6 ">
                            <table >
                                <tr>
                                    <td><p><b>Code Client </b></p></td>
                                    <td><p><b> : C-0001</b></p></td>
                                </tr>
                                <tr>
                                    <td><p><b>Nom Client </b></p></td>
                                    <td><p><b> : ESSADIK LAHCEN</b></p></td>
                                </tr>
                                <tr>
                                    <td><p><b>Télèphone </b></p></td>
                                    <td><p><b> : 0788145502 </b></p></td>
                                </tr>
                                <tr>
                                    <td><p><b>Adresse </b></p></td>
                                    <td><p><b> : Taroudant </b></p></td>
                                </tr>
                                <tr>
                                    <td><p><b>Date Facture  </b></p></td>
                                    <td><p><b>  : 10/05/2020 </b></p></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row  mt-1 bg-light">
                        <p class="pt-2 col-12 text-center"><b>Facture N<sup> °</sup> : FA-2203-0001 </b></p>
                    </div>
                </div>
            </section>

            <section class="product-area mt-4">
                <table cellspacing=0   class="table table-hover">
                    <thead>
                        <tr>
                            <td >Réf</td>
                            <td>Désignation </td>
                            <td>Qté</td>
                            <td>PU. HT</td>
                            <td>TVA</td>
                            <td>MT. HT</td>
                            <td>MT. TTC</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                           <td>TY25</td>
                           <td>TUYAUX PEHD DIA 25 6BAR</td>
                           <td>3000</td>
                           <td>5.50</td>
                           <td>20</td>
                           <td>16500.00</td>
                           <td>19800.00</td> 
                        </tr>
                        <tr >
                            <td>TY32</td>
                            <td>TUYAUX PEHD DIA 32 6BAR</td>
                            <td>500</td>
                            <td>6.50</td>
                            <td>20</td>
                            <td>3250.00</td>
                            <td>3900.00</td>
                        </tr>
                        <tr class="last-ling">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr >
                            <td   style="border: none" colspan="4"></td>
                            <td class="t" colspan="2"><b>Total HT :</b></td>
                            <td class="t"><b>19750.00</b></td>
                        </tr>
                        <tr >
                            <td  style="border: none" colspan="4"></td>
                            <td class="t" colspan="2"><b>Total TVA :</b></td>
                            <td class="t" ><b>3950.00</b></td>
                        </tr>
                        <tr style="border: none;">
                            <td  style="border: none" colspan="4"></td>
                            <td class="t" colspan="2"><b>Total TTC :</b></td>
                            <td class="t"><b>23700.00</b></td>
                        </tr>
                    </tbody>
                </table>
            </section>
            
        </div>
    </div>
      