.demo-button-container {
    padding-bottom: 16px;
  }
  
  .demo-button + .demo-button {
    margin-left: 8px;
  }

  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  
.actions{
  white-space: nowrap;
}
.mat-form-field{
 margin-left: 15%;
 margin-right:15%;
 width:70%;
}

mat-paginator{
  border-radius: 0px 0px 8px 8px;
}

#htmlData table{
  margin-top: 20px;
  margin-left:10% ;
  width: 80%;
  margin-right: 10%;
}
.div{
  margin-top: 10%;
}
