mat-horizontal-stepper{
    height: 100%;
}


.row mat-form-field{
    width: 40%;
}

.col-6 mat-form-field{
    width: 100%;
}

img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}



input[type="file"] {
    display: none;
    size: 60;
}

#adresseForm,#contactsForm{
    margin-top: 100px;
}

.borde-client-code{
    
        
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
      
}



