<mat-nav-list>
    
    <mat-list>

        <!--<h2 matSubheader>Pages</h2>-->
        
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/client">Client</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/fournisseur">Fournisseur</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/produit">Produits</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/produit/categorie">Categorie</a>

        <mat-divider></mat-divider>

        

    </mat-list>

</mat-nav-list>