
<mat-nav-list>
    <mat-list>

        <!--<h2 matSubheader>Pages</h2>-->
        <a  mat-list-item [routerLinkActive]="['is-active']" *ngIf="this.userService.permissionMatch(['Dashboard'])" routerLink="/dashboard"><i  class='bx bxs-dashboard bx-sm me-3  c-primary ' ></i> Tableau de bord</a>
        
        <a mat-list-item [routerLinkActive]="['is-active']" class="test" *ngIf="this.userService.permissionMatch(['Client'])" routerLink="/client"><mat-icon class="c-blue me-3">people_outline</mat-icon> Client</a>
        
        <a mat-list-item [routerLinkActive]="['is-active']" *ngIf="this.userService.permissionMatch(['Fournisseur'])" routerLink="/fournisseur"><mat-icon  class="c-blue me-3" >people_outline</mat-icon> Fournisseur</a>
        
        <a mat-list-item [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['is-active']" *ngIf="this.userService.permissionMatch(['Produit'])" routerLink="/produit"><i  class='fa fa-cubes me-3 fa-lg c-pink '></i>Produit</a>
        <a mat-list-item  [routerLinkActiveOptions]="{exact: false}" [routerLinkActive]="['is-active']" *ngIf="this.userService.permissionMatch(['Produit'])" routerLink="/produit/categorie"><i class='bx bx-category bx-sm me-3 c-pink '></i> Categorie</a>
        
        <a mat-list-item [routerLinkActive]="['is-active']" *ngIf="this.userService.permissionMatch(['BonAchat'])" routerLink="/bonAchat"><i class='bx bx-cart-download bx-sm me-3 c-green '></i> Bon Achat</a>
        <a mat-list-item [routerLinkActive]="['is-active']" *ngIf="this.userService.permissionMatch(['ReglementFournisseur'])" routerLink="/reglementFournisseur"><i class='bx bx-money bx-sm me-3  c-yellow '></i> Reg Fournisseur</a>
        
        <a mat-list-item [routerLinkActive]="['is-active']" *ngIf="this.userService.permissionMatch(['BonHonoraire'])" routerLink="/bonHonoraire"><i class='bx bx-cart bx-sm me-3 c-green '></i> Bon Honoraire</a>
        <a mat-list-item [routerLinkActive]="['is-active']" *ngIf="this.userService.permissionMatch(['ReglementClient'])" routerLink="/reglementClient"><i class='bx bx-money bx-sm me-3 c-yellow '></i> Reg Client</a>
        
        <a mat-list-item [routerLinkActive]="['is-active']" *ngIf="this.userService.permissionMatch(['Facture'])" routerLink="/facture"><i class='fa fa-files-o me-3 fa-lg  c-green '></i> Factures</a>

        <li class="mb-3">
            <div class="row">
                <div class="col-10">
                   <a class="link-dark rounded module-link" mat-list-item routerLinkActive="list-item-active" *ngIf="this.userService.permissionMatch(['Fournisseur'])" routerLink="/fournisseur"><i class="fa fa-users me-2" aria-hidden="true"></i>Fournisseurs</a>
                </div>
                <div class="col-2">
            <button class=" btn-toggle align-items-center rounded collapsed"   data-bs-toggle="collapse" data-bs-target="#fournisseur" aria-expanded="false"></button>
                </div>
            </div>
            <div class="collapse show" id="fournisseur">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li>   
                    <a class="link-dark rounded " mat-list-item routerLinkActive="list-item-active" *ngIf="this.userService.permissionMatch(['Fournisseur'])" routerLink="/fournisseur"><i class="fa fa-list-ul me-2" aria-hidden="true"></i>List Fournisseurs</a>
                </li>
                <li>
                    <a class="link-dark rounded " mat-list-item routerLinkActive="list-item-active" *ngIf="this.userService.permissionMatch(['Fournisseur'])" routerLink="/fournisseur/addFournisseur"><i class="fa fa-user-plus me-2" aria-hidden="true"></i>Ajouter Fournisseur</a>
                </li>
            </ul>
            </div>
        </li>

        <li class="mb-3">
            <div class="row">
                <div class="col-10 ">
                    <a class="link-dark rounded module-link" mat-list-item routerLinkActive="list-item-active" *ngIf="this.userService.permissionMatch(['Produit'])" routerLink="/produit"><i class="fa fa-cubes f-left" aria-hidden="true"></i> Produits</a>
                </div>
                <div class="col-2">
            <button class=" btn-toggle align-items-center rounded collapsed"   data-bs-toggle="collapse" data-bs-target="#produit" aria-expanded="false"></button>
                </div>
            </div>
            <div class="collapse show" id="produit">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li>   
                    <a class="link-dark rounded " mat-list-item routerLinkActive="list-item-active" *ngIf="this.userService.permissionMatch(['Produit'])" routerLink="/produit/categorie"><i class='bx bx-category me-2'></i>Catégories</a>
                </li>
                <li>
                    <a class="link-dark rounded " mat-list-item routerLinkActive="list-item-active" *ngIf="this.userService.permissionMatch(['Produit'])" routerLink="/produit"><i class="fa fa-list-ul me-2" aria-hidden="true"></i>Lists Produits</a>
                </li>
                <li>
                    <a class="link-dark rounded " mat-list-item routerLinkActive="list-item-active" *ngIf="this.userService.permissionMatch(['Produit'])" routerLink="/produit/addProduit"><i class="fa fa-plus me-2" aria-hidden="true"></i>Ajouter Produit</a>
                </li>
            </ul>
            </div>
        </li>

        <!--
        <a mat-list-item [routerLinkActive]="['is-active']" routerLink="/formulaire">Formulaire</a>
        <a mat-list-item [routerLinkActive]="['is-active']" routerLink="/formulaire/attestationStage">Attestation Stage</a>
        <a mat-list-item [routerLinkActive]="['is-active']" routerLink="/formulaire/attestationTravail">Attestation Travail</a>
        <a mat-list-item [routerLinkActive]="['is-active']" routerLink="/formulaire/lettreMission">Lettre Mission</a>
        -->
        
-->


        <!----

      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          Dashboard
        </button>
        <div class="collapse" id="dashboard-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">Overview</a></li>
            <li><a href="#" class="link-dark rounded">Weekly</a></li>
            <li><a href="#" class="link-dark rounded">Monthly</a></li>
            <li><a href="#" class="link-dark rounded">Annually</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
          Orders
        </button>
        <div class="collapse" id="orders-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">New</a></li>
            <li><a href="#" class="link-dark rounded">Processed</a></li>
            <li><a href="#" class="link-dark rounded">Shipped</a></li>
            <li><a href="#" class="link-dark rounded">Returned</a></li>
          </ul>
        </div>
      </li>
      <li class="border-top my-3"></li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          Account
        </button>
        <div class="collapse" id="account-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">New...</a></li>
            <li><a href="#" class="link-dark rounded">Profile</a></li>
            <li><a href="#" class="link-dark rounded">Settings</a></li>
            <li><a href="#" class="link-dark rounded">Sign out</a></li>
          </ul>
        </div>
      </li>
    -->
    